.main-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu__menu-box {
    margin-left: auto; /* Pushes it to the right */
}

.main-menu__list {
    display: flex;
    gap: 20px; /* optional spacing between items */
}

.projects-page.services .project-one__content {
    padding: 40px 21px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 130px;
    display: flex;
    align-items: center;
}
.projects-page.services .project-one__title {
    font-size: 22px;
    line-height: 27px;
}
.projects-page.services p.project-one__sub-title {
    font-size: 14px;
}
.project-one__single.small-box .project-one__content {
    /*padding-top: 35px;*/
}




.contact-one__info li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 35px;
}
.contact-one__info .icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-one__info .icon-placeholder {
    font-size: 20px;
}
.contact-one__info p strong {
    line-height: 24px;
    margin-bottom: 30px;
}
.contact-item {
    margin-bottom: 40px;
}
.contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.contact-content .text {
    flex: 1 1 45%;
}
.contact-content .map {
    flex: 1 1 50%;
}
.contact-content iframe {
    height: 350px;
    width: 100%;
    border: 0;
}
.contact-content .text p strong {
    font-size: 28px;
    display: block;
}
.contact-one__form {
    padding: 0;
    border: none;
}
.contact-one__info li .text p {
    line-height: 25px;
    font-size: 21px;
    margin-bottom: 8px;
}

.why-details-box {
    position: relative;
    display: block;
    padding: 0 0 35px;
}
.center-vertically {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 300px;
    text-align: center;
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h2.section-title__title.sub-title {
    font-size: 32px;
    color: #fff;
}
h2.section-title__title.contact-subtitle {
    font-size: 32px;
}

.captcha-text {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--wostin-black);
}


@media (max-width: 767px) {
    .main-menu__list {
        display: unset;
        gap: 0;
    }
}